<ul>
    {% assign course_root = site.source | append: '/..' %}
    {% for category in site.static_files %}
        {% if category.path contains 'Scaler-DSML-Course' and category.path contains 'README.md' and category.path != 'Scaler-DSML-Course/README.md' %}
            {% assign path_parts = category.path | split: '/' %}
            {% assign category_name = path_parts[path_parts.size - 2] %}
            {% assign category_link = category.path | replace: 'README.md', '' | relative_url %}
            {% if category_name != 'Scaler-DSML-Course' %}
                <li>
                    <a href="{{ category_link }}">{{ category_name }}</a>
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>

